body{
  font-size: 16px;
  color:silver;
  background-color:
  font-family:
}

/**Header**/
#header-nav{
  background-color:lavender;
  border-radius:0;
  border:0;
  height:40px;
}
.navbar-brand{/*Restaurant name*/
  font-family:"Lora";
  color: silver;
  font-size:1.8em;
  text-transform:uppercase;
  font-weight: bold;
  text-shadow
  margin-top:0;
  margin-bottom:0;
  line-height:.75;
}

/*Dropdown menu*/
#nav-list{
  background-color: lavender;
}

#nav-list a:hover{
  background-color: silver;
}

#nav-list span{
  font-size:1.5em;
}


#navbar-header button.navbar-toggle, .navbar-header .icon-bar{/*hamburger icon*/
  border: 1px solid pink;
}

section{
  margin-top:50px;
}

/**XS device only**/

@media only screen and (max-width:800px){
 section{
   margin-top: 150px;
 }
}








/*Main Content*/
.row{
  width:100%;
  margin-right:auto;
  margin-left: auto;

}

.row >div{
  background-color: lavender;
  border: 10px solid white;
  height:750px;

}

.row div>h3{ /*Menu title*/
  text-transform:capitalize;
}

.row div> p{ /*menu description*/
  text-align:left;

}
